@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/*---------------
Global style
----------------*/

:root{
/* GLobal colors */ 
--main-font: "Poppins", sans-serif;
--color-1:white;
--color-2: #e5d549;
--color-3:#ffa500;
--color-4:#6b8c42;
--color-5:#e5d549;
--color-6:#77acf1;
--color-7:#ffa500;
--color-8:#00de84;
--color-9:rgb(255,255,255,0.7);
--color-10:#ff96ad;
/* Footer colors */
--footer-color-1:rgb(255,255,255,0.5);

}
* {
  box-sizing: border-box;
}
html {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
/* background by SVGBackgrounds.com */
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#particles-js {
  display: flex;
  height: 100vh;
  z-index: -2;
}
a:hover{
  text-decoration:none!important;
}
a:focus{
  outline: 0;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0,0,0,0.5);
  color: #fff;
  font-family: var(--main-font);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size:13px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 10px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*---------------
Containers
----------------*/

#main-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 3vw;
  right: 3vw;
  max-width: 700px;
  top: calc(3vh + 2vw);
  z-index: 2;
  text-align: center;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}
.sub-container {
  width: 100%;
  height: 100%;
  padding: 30px 40px 10px 40px;
}

/*---------------
Header
----------------*/

#avatar {
  margin: auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border:10px solid rgb(255,255,255,0.2);
  opacity: 0.8;
  transition: 400ms ease;
}
#avatar:hover {
  opacity: 1;
}
#title {
  color: var(--color-1);
  margin-top: 15px;
  font-size: 35px;
  font-family: var(--main-font);
  letter-spacing: 2px;
  font-weight: 600;
}
#dot {
  color: var(--color-1);
  font-family: var(--main-font);
  animation: blinker2 3s linear infinite;
}
#codes {
  font-family: var(--main-font);
  font-weight:600;
  color: var(--color-2);
  animation: blinker 20s linear infinite;
}
#subtitle {
  width:180px;
  margin:0 auto;
  font-family:var(--main-font);
  color: var(--color-1);
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  opacity: 0.6;
  transition: all ease-in-out 400ms;
}
#subtitle i{
    color:var(--color-4);
}
#subtitle:hover {
  opacity: 1;
}

/*---------------
About section
----------------*/

.row{
  margin-top:30px;
}
.row:after{
  content:'';
  display:table;
  clear:both;
  /* border:1px solid white; */
}
.col-left{
  margin-top:25px;
  float: left;
  width:25%;
}
.col-right{
  padding:10px 10px 0 20px;
  text-align: justify;
  color:var(--color-1);
  font-family: var(--main-font);
  float: left;
  width:75%;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.8;
  transition: all ease-in-out 400ms;
  /* border:1px solid white; */
}

/*---------------
Profile links
----------------*/

#profiles-row{
  margin-top:40px;
  margin-bottom:10px;
}
#profiles-row:after{
  content: '';
  display:table;
  clear:both;
}
#profiles-row .col{
  width:25%;
  float:left;
  transition: all ease-in-out 150ms;
}
#profiles-row i{
  font-size:40px;
  color:var(--color-1);
  opacity: 0.9;
  transition: 500ms ease;
}
#github i:hover{
  color:var(--color-5);
  opacity: 1;
}
#linked-in i:hover{
  color:var(--color-6);
  opacity: 1;
}
#stackoverflow i:hover{
  color:var(--color-7);
  opacity: 1;
}
#twitter i:hover{
  color:var(--color-8);
  opacity: 1;
}

/*------------------
Footer
------------------*/

#footer{
  position:absolute;
  z-index: 2;
  font-family:var(--main-font);
  font-size:11px;
  color:var(--footer-color-1);
  bottom:20px;
  width:100%;
  text-align:center;
}
#footer a{
  color:var(--footer-color-1);
  text-decoration:none!important;
}
#footer a:hover{
  color:#ffffff;
}
#footer-2{
  display:none;
  font-family:var(--main-font);
  font-size:11px;
  color:var(--footer-color-1);
  margin-top:20px;
  margin-bottom:10px;
  width:100%;
  text-align:center;
}
#footer-2 a{
  color:var(--footer-color-1);
  text-decoration:none!important;
}
#footer-2 a:hover{
  color:#ffffff;
}
#gabrielsalinas-link{
  color:var(--color-9)!important;
  transition:300ms ease;
}
#gabrielsalinas-link:hover{
  color:var(--color-1)!important;
  transition:300ms ease;
}
#darkcode-link{
  color:var(--color-8)!important;
  opacity:0.8;
  transition:300ms ease;
}
#darkcode-link:hover{
opacity: 1;
}
#vincent-link{
  color:var(--color-7)!important;
  opacity:0.8;
  transition:300ms ease;
}
#vincent-link:hover{
  opacity: 1;
}
#background-link{
  color:var(--color-6)!important;
  opacity:0.8;
  transition:300ms ease;
}
#background-link:hover{
  opacity: 1;
}
#aos-link{
  color:var(--color-5)!important;
  opacity:0.8;
  transition:300ms ease;
}
#aos-link:hover{
  opacity: 1;
}
#fs-link{
  color:var(--color-10)!important;
  opacity:0.8;
  transition:300ms ease;
}
#fs-link:hover{
  opacity: 1;
}
#polygon {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background: transparent;
  fill: #ffffff;
}

/*------------------
Media
------------------*/
@media screen and (min-width: 500px) and (max-width: 768px) {
  #main-container {
    left: 3vw !important;
    right: 3vw !important;
    max-width: 700px;
    min-width: 300px;
    top: 4vw !important;
  }
  .sub-container {
    padding: 20px 25px 0px 25px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  #main-container {
    left: 2vw !important;
    right: 2vw !important;
    top: 3vw !important;
    background: none !important;
    border: none!important;
  }
  .sub-container {
    padding: 10px 10px 20px 10px !important;
  }
  .col-left{
    display:none;
  }
  .col-right{
    width:100%;
  }
  #polygon{
    display:none;
  }
  #footer{
    display:none;
  }
  #footer-2{
    display:none!important;
  }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  #main-container {
    left: 2vw !important;
    right: 2vw !important;
    background: none !important;
    border: none!important;
  }
  .sub-container {
    padding: 5px 5px 20px 5px !important;
  }
  #title{
    font-size:25px;
  }
  #subtitle{
    font-size:15px;
  }
  #avatar{
  width: 190px;
  height: 190px;
  }
  .col-left{
    display:none;
  }
  .col-right{
    width:100%;
  }
  #profiles-row i{
  font-size:30px!important;
  }
  #polygon{
    display:none;
  }
  #footer{
    display:none;
  }
  #footer-2{
    display:none!important;
  }
}
@media screen and (min-height:820px) and (max-height: 850px) {
  #footer{
    bottom: 5px;
  }
}
@media screen and (min-height:770px) and (max-height: 820px) {
  #avatar {
    width: 200px;
    height: 200px;
  }
  #title{
    font-size:30px;
  }
  #subtitle{
    font-size:17px;
  }
  #main-container {
    top: 3vw !important;
  }
  .row{
    margin-top:25px;
  }
  #profiles-row{
    margin-top:30px;
    margin-bottom:5px;
  }
  #profiles-row i{
    font-size:35px;
  }
  #footer{
    bottom: 5px;
  }
}
@media screen and (min-height:730px) and (max-height: 770px) {
  #avatar {
    width: 190px;
    height: 190px;
  }
  #title{
    font-size:30px;
  }
  #subtitle{
    font-size:16px;
  }
  #main-container {
    top: 3vw !important;
  }
  .row{
    margin-top:15px;
  }  
  #profiles-row{
    margin-top:25px;
    margin-bottom:5px;
  }
  #profiles-row i{
    font-size:35px;
  }
  #footer{
    bottom:5px;
  }
}
@media screen and (min-height:0px) and (max-height: 730px) {
  #avatar {
    width: 190px;
    height: 190px;
  }
  #title{
    font-size:30px;
  }
  #subtitle{
    font-size:16px;
  }
  #main-container {
    top: 3vw !important;
  }
  .row{
    margin-top:15px;
  }
  #profiles-row{
    margin-top:25px;
    margin-bottom:5px;
  }
  #profiles-row i{
    font-size:35px;
  }
  #footer{
    display:none;
  }
}

/*------------------
Keyframes
------------------*/
@keyframes blinker {
  0% {
    opacity: 0.7;
  }
  19% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 0.2;
  }
  23% {
    opacity: 0.2;
  }
  36% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  69% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0.2;
  }
  73% {
    opacity: 1;
  }
  86% {
    opacity: 0.2;
  }
  81% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker2 {
  0% {
    opacity: 100%;
  }
  79% {
    opacity: 100%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
/* ---- END OF KEYFRAMES --- */